#root {
  viewport-fill: black;
  fill: palegoldenrod;
}

#background {
  x: 0;
  y: 0;
  width:100%;
  height:100%;
  fill:black;
}

#clock {
   /*  transform: translate(1%,100%- 100) */
}

#time {
  font-size: 124;
  font-family: Fabrikat-Bold;
  text-length: 140; 
  text-anchor: end;
  fill: white;
  x: 0%;
  y: 0%; 
    
}

#versa-am-pm {
  font-size: 35;
  font-family: Fabrikat-Bold;
  text-length: 120;
  text-anchor: end;
  x: 100%-1;
  y: 155;
  fill: white;
}

#second {
  font-size: 40;
  font-family: Colfax-Medium;
  text-length: 120;
  text-anchor: end;
  x: 100%-1;
  y: 0;
  fill: white;
}

#calendar {
  transform: translate(5,25)
}

#day {
  x: 110;
  y: 60;
  font-size: 35;
  text-anchor: start;
  font-family: SevilleSharp-Bold;
  text-length: 20;
  fill: palegoldenrod;
}

#date {
  x: 0;
  y: 60;
  font-size: 40;
  text-anchor: start;
  font-family: Fabrikat-Black;
  text-length: 120;
  fill: steelblue;
}

#bm {
/* transform: translate(50%,100%-15) */
}

#bmr-zone {
  text-anchor: middle;
  font-size: 16;
  font-family: Seville-Bold-Condensed;
  text-length: 120;
  x: 50%;
  y: 100%-20;
}

#bmi-zone {
  text-anchor: middle;
  font-size: 16;
  font-family: Seville-Bold-Condensed;
  text-length: 120;
  x: 50%;
  y: 100%-5;
}

#barometer {
  transform: translate(5%,15)
}

#barom-zone {
  text-anchor: start;
  font-size: 30;
  font-family: Seville-Bold-Condensed;
  text-length: 120;
  x: 24;
  y: 20;
}

#barom-icon {
  width: 20;
  height: 20;
  x:0;
  y:0;
}

#hr {
  transform: translate(100%-75,30)
}

#hr-count {
  text-anchor: start ;
  font-size: 35;
  font-family: Colfax-Bold;
  x: 15;
  y: 40;
}

#hr-resting {
  text-anchor: start ;
  font-size: 20;
  font-family: Colfax-Bold;
  x: 25;
  y: 60;
}

#hr-zone {
  text-anchor: end ;
  font-size: 20;
  font-family: Fabrikat-Black;
  x: 65;
  y: 0;
}


#steps {
  transform: translate(1%,100%-60);  
}

#hrSteps {
  transform: translate(1%,100%-25);  
}

#distance {
  transform: translate(60%,100%-60) 
}

#elevationGain  {
  transform: translate(60%,100%-25)
}

#steps {  
  fill: gold;
}

#hrSteps {  
  fill: gold;
}

#distance {
  fill: olive;
}

#elevationGain {
  fill: skyblue;
}


#hr-icon-systole {
  fill: crimson;
  width: 24;
  height: 24;
  x:0%-18;
  y:18;
}

#hr-icon-diastole {
  fill: crimson;
  width: 28;
  height: 28;
  x:0%-20;
  y:18;
}

.progress {
  x:26;
  y:14;
  height: 5;
  width: 10;
}

.bg {
  x:26;
  y:16;
  height: 1;
  width: 62%-24;
}

.icon {
  width: 30;
  height: 30;
  x:0;
  y:-12;
}

.count {
  font-size: 40;
  x: 35;
  y: 15;
  text-length: 10; 
  font-family: Fabrikat-Bold;
}
